<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
</head>
<body>

	<label><%= user %></label>

	<div>
		<a href="">My Todos</a>
		<a href="">Write new Todo</a>
		<a href="">Search Todos</a> <input type="" name="">
		<a href="/logout">Logout</a>
		<a href=""></a>
	</div>

</body>
</html>